/* GENERAL */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif; 
}
main, header {
    width: 98%;
    max-width: 1440px;
    margin: auto;
}
a {
    text-decoration: none;
    color: initial;
}
button {
    border:none
}
#IconSearch {
    display: none;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColonneCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColonneAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColonneBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bordureNone {
    border: none;
}
.texteGras {
    font-weight: bold;
}
.colorBleu {
    color: #0065FC;
}
.colorBleuClair {
    color: #DEEBFF;
}
.colorGris {
    color: #F2F2F2;
}
.backBleu {
    background-color: #0065FC;
}
.backBleuClair {
    background-color: #DEEBFF;
}
.backGris {
    background-color: #F2F2F2;
}
/* NAV */
.colorLiens2{
    color: black;
}
.bordureNav1 {
    font-size: 18px;
    padding: 25px 35px;
    border-top: 2px solid #0065FC;
}
.bordureNav2, .bordureNav3 {
    font-size: 18px;
    padding: 25px 35px;
    border-top: 2px solid transparent;
}
.bordureNav2:hover {
    border-top: 2px solid #0065FC;
}
/* EN-TÊTE */
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}
.paddingSearch {
    padding-left: 20px;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch {
    font-size: 16px;
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/* FILTRES */
.margeFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
}
.filtres {
    display: flex;
    align-items: center;
}
.margeFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 12px;
    cursor: pointer;
}
.filtreTexteIcons:hover > .filtretexte {
    color: #0065FC;
}
.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065FC;
}
.filtreTexte {
    padding-left: 20px;
    padding-right: 20px;
}
.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065FC;
    background-color: #DEEBFF;
}
/* Bulle Info */
.info {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.parentIcon {
    width: 25px;
    height: 25px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 15px;
}
/* HEBERGEMENTS */
.sizeHebergements {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 20px;
}
.blockHebergement {
    padding-left: 20px;
    padding-right: 20px;
}
.cubeHebergement {
    width: 30%;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 #0000002e;
}
.cubeHebergement:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}
.block1 {
    margin-bottom: 10px;
}
.block2 {
    margin-bottom: 10px;
}
.detailCubeHebergement {
    width: 90%;
}
.price {
    font-weight: bold;
}
.imgHebergement1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}
.imgHebergement6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100px;
    border-radius: 15px 15px 0 0;
}
/* POPULAIRES */
.sizePopulaire {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 20px;
}
.blockPopulaire {
    padding-left: 20px;
    padding-right: 20px;
}
.cubePopulaire {
    background-color: white;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 #0000002e;
}
.cubePopulaire:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}
.blockPopulaire12 {
    margin-bottom: 20px;
}
.detailCubePopulaire {
    width: 60%;
    padding-left: 5%;
}
.imgPopulaire1 {
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaire2 {
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaire3 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
/* Cartes Cliquable */
.carteCliquable {

}
/* ACTIVITÉS */
.activity {
    margin-top: 50px;
    margin-bottom: 50px;
}
.blockactivity {
    width: 100%;
    height: 600px;
}
.blockactivity2356 {
    width: 23%;
    height: 600px;
}
/* Réglage du bloc */
.cubeActivity {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.cubeActivity:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}
.cubeActivity2356 {
    width: 100%;
    border-radius: 15px ;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.cubeActivity2356:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: ease 0.4s;
}
/* Fin du réglage du bloc */
.hauteurTitre {
    height: 70px;
}
.titreActivity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}
.imgActivity1 {
    background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivity2 {
    background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.imgActivity3 {
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgActivity4 {
    background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivity5 {
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.imgActivity6 {
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
/* FOOTER */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}
.footerBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
}
.footerBlock123 {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.margeBlockFooter3 {
    margin-right: 10%;
}
.footerBlock123 > * {
    margin-bottom: 10px;
}
.footerTitle {
    margin-bottom: 15px;
}
@media screen and (max-width:1253px) {
    .mediaBlock {
        flex-direction: column-reverse;
        align-items: initial;
    }
    .sizeHebergements {
        margin: 20px;
    }
    .sizePopulaire {
        padding: 20px;
        margin: 20px;
    }
    .mediaPopulaire {
        flex-direction: initial;
        justify-content: space-around;
    }
    .blockPopulaire12, .cubePopulaire {
        margin-bottom: 0;
        width: 30%;
    }
    .activity {
        padding: 0 20px;
    }
@media screen and (max-width:950px) {
    .margeFiltre {
        flex-wrap: wrap;
    }
    .filtres {
        flex-wrap: wrap;
        padding-left: 20px;
        margin-right: 0;
    }
    .filtreTexteIcons {
        margin-top: 10px;
    }
    .mediaPopulaire {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blockPopulaire12, .cubePopulaire {
        margin-bottom: 10px;
        width: 100%;
    }
}
@media screen and (max-width:835px) {
    .mediaFlexBetween {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .block1, .block2 {
        flex-direction: column;
        align-items: center;
        margin: 0 2%;
        width: 48%;
    }
    .cubeHebergement {
        margin: 2% 0;
        width: 100%;
    }
    .imgActivity1 {
        background-image: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
    }
    .imgActivity2 {
        background-image: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
    }
    .imgActivity3 {
        background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
    }
    .imgActivity4 {
        background-image: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
    }
    .imgActivity5 {
        background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
    }
    .imgActivity6 {
        background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
    }
    .blockactivity2356 {
        height: auto;
        width: 100%;
        order: 2;
        flex-direction: row;
    }
    .blockactivity {
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
    }
    .cubeActivity2356 {
        width: 45%;
        margin: 2%;
        box-shadow: 1px 1px 17px -9px rgb(0 0 0 / 75%);
    }
    .cubeActivity {
        width: 45%;
        margin: 2%;
    }
}
@media screen and (max-width:600px) {
    .logo {
        width: 50%;
    }
    .mediaNav {
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap-reverse;
    }
    .mediaNavLogo {
    }
    .bordureNav1 {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        width: 100%;
    }
    .bordureNav2 {
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        width: 100%;
    }
    .bordureNav2:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    .bordureNav3 {
        border: none;
    }
    .navHebergement {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .navActivity {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .navLogin {
        display: flex;
        justify-content: center;
        width: 50%;
    }
    #IconSearch {
        display: flex;
    }
    .buttonSearch {
        display: none;
    }
    .buttonSearch {
        width: 50px;
        border-radius: 10px;
    }
    .bordureSearch {
        width: 330px;
    }
}